/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@font-face {
    font-family: 'Kanit';
    src: url(./font/Kanit-Regular.ttf);
    font-style: normal;
}

* {
    font-family: 'Kanit', sans-serif !important;
}